header{
	position: absolute;
}

.chatbot{
	width: 60%;
	margin: 0 auto;
}

p {
	color:white;
}
.campo {
	display: block;
	width: 100%;
	line-height: 20px;
	margin: 20px 0;
	padding: 10px 15px !important;
	height: 10vh;
	border: 0;
	padding: 15px;
	background: rgb(31, 33, 35);
	outline: none;
	color: #fff;
	border: 1px solid #3a3a3b;
}

input::placeholder {
	color: gray;
}

.conversa {
	min-width: 250px;
	height: 60vh;
	background: rgb(31, 33, 35);
	color: #3a3a3b;
	font-family: verdana;
	overflow: auto;
	position: relative;
	border: 1px solid #3a3a3b;
}

.conversa span {
	width: 90%;
	background-color: #fff;
	color: #000;
	position: fixed;
	bottom: 122px;
	left: 16px;
	transition: all 1s ease-in;
	display: none;
	z-index: 10;
	padding: 10px 0;
}

.conversa::-webkit-scrollbar, .campo::-webkit-scrollbar {
    width: 10px;
}

.conversa::-webkit-scrollbar-thumb, .campo::-webkit-scrollbar-thumb {
    background: #FC199F;
    border-left: 4px solid #64093e;
    border-right: 4px solid #64093e;
    border-radius: 5px;
    margin: 2px;
}

.conversa::-webkit-scrollbar-track, .campo::-webkit-scrollbar-track {
    background: #64093e;
}


span.ativo {
	display: block;
}

.linha {
	display: flex;
	flex-direction: column;
}

.chat {
	border-radius: 5px;
	display: inline-block;
	padding: 10px 18px;
	position: relative;
	vertical-align: top;
	line-height: 1.6;
}

.bot {
	align-self: flex-start;
	background: #d3d3d3;
	color: black;
	float: left;
	margin: 15px 30px 5px;
}

.bot:after {
	content: '';
	position: absolute;
	left: 0;
	top: 50%;
	width: 0;
	height: 0;
	border: 20px solid transparent;
	border-right-color: #d3d3d3;
	border-left: 0;
	border-top: 0;
	margin-top: -10px;
	margin-left: -20px;
}

.me {
	align-self: flex-end;
	background: rgb(2 255 211 / 1);
	color: black;
	float: right;
	margin: 15px 30px 5px;
}

.me:after {
	content: '';
	position: absolute;
	right: 0;
	top: 50%;
	width: 0;
	height: 0;
	border: 20px solid transparent;
	border-left-color: rgb(2 255 211 / 1);
	border-right: 0;
	border-top: 0;
	margin-top: -10px;
	margin-right: -20px;
}

.texto{
	overflow-wrap: anywhere;
}

button {
	display: block;
	background: #FC199F;
	color: #fff;
	padding: 10px 20px;
	border: 0;
	border-radius: 2px;
	position: relative;
	text-shadow: 0.05em 0.05em grey;
	margin: 0 auto;
	transition: 0.3s;
	width: 50%;
	text-transform: uppercase;
	letter-spacing: 1px;
	cursor: pointer;
}

button:hover {
	transition: 0.3s;
	background: #64093e;
}


@media (max-width:767px){

	.conversa{
		min-height: 300px;
	}

	.chatbot{
		width: auto;
		margin-bottom: 50px;
	}

	.texto{
		font-size: 0.9em;
	}

	#pergunta{
		font-size: 0.9em;
	}

	#enviar{
		font-size: 0.9em;
	}


	button:hover {
		transition: 0.3s;
		background: #FC199F;
	}
}

@media (min-width:1200px) and (max-width:1999px){
	.texto{
		font-size: 1.4%;
	}

	#pergunta{
		font-size: 1.5em;
	}

	#enviar{
		font-size: 1.4em;
	}

}

@media (min-width:2000px){
	.texto{
		font-size: 1.5em;
	}

	#pergunta{
		font-size: 2em;
	}

	#enviar{
		font-size: 1.5em;
	}
}

@media (min-width:3500px){
	.texto{
		font-size: 4em;
	}

	#pergunta{
		font-size: 4.5em;
		padding: 70px 60px !important;
		margin: 80px 0;
	}

	#enviar{
		font-size: 4em;
	}
}