.general {
    display: flex;
    align-items: center;
}

.login {
    padding: 78px 50px;
    height: 500px;
    width: 500px;
    min-width: 200px;
    margin: 0 auto;
    margin-bottom: 200px;
    background-color: #E9E9E9;
    border: 2px solid #27E2CB;
    text-align: center;
    position: relative;
}

.login h2 {
    color: black;
    margin-bottom: 50px;
}

.login .field {
    display: flex;
    flex-direction: column;
    text-align: left;
    margin-bottom: 30px;
}

.login .field input {
    padding: 5px;
    margin-top: 2px;
    border: 1px solid #FFFFFF;
    outline: none;
}

.olho {
    /* bottom: 49.5%;
    left: 58%;
    right: 0%; */
    width: 20px;
}

.login .btn-acessar {
    background-color: #27E2CB;
    border: none;
    padding: 15px;
    width: 150px;
}