.ranking{
    width: 40%;
    margin: 0 auto;
    border: 1px solid #000;
    height: 90%;
}

th{
    padding: 1% 4%;
    border: 4px solid #95f3e8;
}

td{
    border: 2px outset #95f3e8;
    border-style: none none solid none;
}

.tabela{
    text-align: center;
    margin-left: 20%;
    
}

.headin{
    margin-left: 32%;
}