/* .general{
    padding-top: 100px;
} */

.ranking{
    min-width: 300px;
    width: 50%;
    margin: 0 auto;
    border: 1px solid #fff;
    min-height: 70%;
    padding: 30px 20px;
}

.ranking__title{
    margin-bottom: 30px;
    text-align: center;
}

.headin{
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.ranking__title--content{
    text-transform: uppercase;
    font-weight: 300;
    letter-spacing: 2px;
    border-bottom: 1px solid cyan;
    display: inline;
}

th{
    border: 2px solid#95f3e8;
}

td{
    border: 2px outset #95f3e8;
    border-style: none none solid none;
    padding: 5px;
    text-align: center;
}

.tabela{
    color: #fff;
    
    width: 100%;
}

@media screen and (max-width:767px){

    .general{
        padding-right: 15px;
        padding-left: 15px;
    }

    .ranking{
        min-width: 0;
        width: auto;
        border: none;
        padding: 0;
    }
}