.video {
    display: flex;
    align-items: center;
    border: 2px solid;
    border-color: beige;
    border-radius: 5px;
    padding: 15px;
    justify-content: space-between;
}

.video .texto .txt-1 {
    margin: 0 auto;
    margin-bottom: 20px;
}

.video .texto .txt-1 p,
li {
    margin: 5px 0px;
}

.video .texto .txt-2 {
    margin: 0;
}

.video__container{
    text-align: center;
}

@media screen and (max-width:767px){
    .video{
        flex-direction: column;
        margin-bottom: 50px;
    }

    .video__container{
        margin: 20px 0;
    }
}