.general {
    padding-top: 150px;
}

.video {
    display: flex;
}

.video .txt-1 {
    margin: 0 auto;
    padding: 20px 20px;
    background: yellow;
}

.video .txt-1 p {
    margin: 5px;
}

.video .txt-2 {
    background-color: blue;
}

.video .envio {
    background-color: green;
}